[submodule "Deps/fmt"]
	path = Deps/fmt
	url = https://github.com/fmtlib/fmt.git
	ignore = dirty
[submodule "Deps/cpu_info"]
	path = Deps/cpu_info
	url = https://github.com/jacobmilligan/cpu_info.git
